---
import "@fontsource/varela-round";
import "@fontsource/mononoki";
import { ViewTransitions } from "astro:transitions";
import { cx } from "@/lib/utils";
import { ThemeToggle } from "@/components/theme-toggle";

interface Props {
  class?: string;
  description?: string;
  title?: string;
}

const {
  class: className,
  description = "Personal website of Pranav S K",
  title = "pranavsk",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <meta content={description} name="description" />
    <title>{title}</title>
    <ViewTransitions />
    <style is:inline>
      ::view-transition-old(root),
      ::view-transition-new(root) {
        animation: none;
        mix-blend-mode: normal;
      }
    </style>
  </head>
  <body class={cx("base", className)}>
    <script is:inline src="/init-theme.js"></script>
    <slot />
    <ThemeToggle client:only="'react" />
  </body>
</html>
